taglibsharp-katatsuki/src/bin
taglibsharp-katatsuki/src/obj/
seiri-watcher/tools/
seiri-*/tools/
seiri-watcher/tracks.db*
seiri-client-internals/public/seiri-worker.js
seiri-client-internals/public/seiri-worker.js.map
seiri-client/icon.ico
seiri-client/tools/SixLabors.ImageSharp.dll
*.lib
obj/
bin/
*.pdb
target/
node_modules/
seiri-client/*.exe
dist/
seiri-client/*.asar
seiri-client-internals/ui.asar
katatsuki/katatsuki-sys-main/
rls/
katatsuki/libkatatsuki-sys/libkatatsuki/taglib/
seiri-client-internals/.eslintcache
