.oddRow {
  background-color: #fafafa;
}

.evenRow {
  background-color: white;
}

.table-row {
  font-size: 12px;
  cursor: pointer;
  font-family: "Segoe UI", "Noto Sans CJK JP";
  color: #212121;
  background-clip: content-box;
  box-sizing: border-box;
}

.selected, .ReactVirtualized__Table__Grid .table-row:not(.selected):hover {
  background-color: #4e6570;
  color: white;
}

.selected.pivot {
  background-color: #37474f;
  color: white;
} 

.cursor {
  box-shadow:inset 0px 0px 0px 1.1px #d6d6d6;
}

.table-container {
  height: 100%;
  width: 100%;
}


.ReactVirtualized__Table__rowColumn {
  border-right: solid 1px #BDBDBD;
  padding: 12px 2px;
}

.table-header {
  font-size: 12px;
  font-weight: bold;
  background: #37474f;
  color: white;
  position: sticky;
  top: 2rem;
  z-index: 100000;
}

.ReactVirtualized__Table {
  display: inline-block;
  user-select: none;
}


*:focus {
    outline: none;
  }

.ReactVirtualized__Table__headerRow {
  box-sizing: border-box;
}

.ReactVirtualized__Table__headerColumn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 2px;
  border-right: solid 1px #BDBDBD;
}

.ReactVirtualized__Table__headerTruncatedText {
  flex: auto;
}

.table-header-label {
    -webkit-app-region: no-drag;
}
.DragHandle {
  flex: 0 0 16px;
  z-index: 2;
  cursor: col-resize;
  color: rgba(255,255,255,0.7);
  -webkit-app-region: no-drag;
}
.DragHandleIcon:hover, .DragHandleIcon:active {
  background-color: rgba(0, 0, 0, 0.1);
  -webkit-app-region: no-drag;

}

.DragHandleIcon {
  flex: 0 0 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  -webkit-app-region: no-drag;
}

.table-container {
  background: white;
  z-index: 1000;
}