.container {
    display: grid;
    grid-template-rows: 2rem auto;
    height: 100%;
    width: 100%;
    position: relative;
    background: #37474f;
}

.tracks-containers { 
    width: 100%;
}

.ReactVirtualized__Table__headerRow {
    padding-right: 0;
}

.main-bar {
    display: grid;
    grid-template-columns: 2rem auto 20% 17px;
    width: 100vw;
    height: 2rem;
    position: fixed;
    top: 0;
    z-index: 10000;
}

.no-overflow {
    overflow-y: scroll;
}
.main-bar-clear {
    height: 2rem;
}
.btn-quit {
    height: 2rem;
    width: 2rem;
    padding: 0;
    margin: 0;
    background: #263238;
    border: 0;
    padding: 0;
    margin: 0;
    color: white;
    font-family: 'Segoe MDL2 Assets';
    line-height: 2rem;
    font-size: 1rem;
    -webkit-app-region: no-drag;
    user-select: none;
}

.hidden {
    visibility: hidden;
}

.btn-quit:focus {
    outline: none;
}
.btn-quit:hover {
    background: crimson;
    color: white;
}
.bang-input:focus {
    outline: none;
    
}
.bang-input,.tracks {
    font-size: 1rem;
    font-family: "Segoe UI Light", "Noto Sans CJK JP";
    font-weight: 100;
    background-color: #263238;
    color: white;
    width: stretch;
    height: 2rem;
    line-height: 2rem;
    z-index: 10000;
    border: 0;
    margin: 0;
    padding: 0;
    -webkit-app-region: drag;
}

.bang-input {
    padding-left: 8px; 
}

.tracks {
    text-align: end;
    padding-right: 8px;
    user-select: none;
    -webkit-app-region: drag;
}

.bang-input::placeholder {
    color: rgba(255,255,255,0.7);
    font-style: italic;
    font-size: 0.8rem;
    line-height: 1rem;
    font-family: "Segoe UI Light";
}

.bang-input::selection {
    color: white;
    background: #FF4081;
}

.bang-help {
    user-select: none;
    top: 0;
    position: fixed;
}
