.container {
    display: grid;
    grid-template-rows: auto 3rem;
    height: 100%;
    width: 100%;
}
.tracks-containers { 
    width: 100%;
}

.bang-input {
    font-size: 1.5rem;
    font-family: "Segoe UI", "Noto Sans CJK JP";
    line-height: 3rem;
    width: 100%;
    height: 100%;
    z-index: 10000;
    padding: 0;
    margin: 0;
}